* {
    font-size: large;
    text-align: center;
    margin: 0 auto;
}
body{
    
    display: flex;
    background-color:darkgrey;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    
    margin: auto;
    flex-direction:column;
    border: 3px solid whitesmoke;
    margin-top: 20px;
    width: 420px;
    height: 90vh;
    
}
.f1{
  
    margin: auto;
    padding: 20px;

}
p{
    text-align: center;
    line-height: 1.8;
}
img{
     
    display:block;
    margin-bottom: 20px;
    margin-top: 20px;
   
}
h1{
    font-size: 25px;
}